{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "implicit-arrow-linebreak": "off"
  }
}
